@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <img src="https://www.ocu.org/-/media/ocu/images/home/consumo%20y%20familia/dchos%20consumidor/protecci%C3%B3ndedatos.png?rev=b6015370-6279-40d0-a209-5e48e5055eba&hash=4B331070E82C46022DD3DBB037036F7A" width="500" height="500" />
    <p><h3> Bienvenido a mi sistema de datos en el cual podremos ingresar a nuestros nuevos clientes y sus datos correspondientes</h3></p>
</div>
